.business-card-container {
    width: 34vw;
    height: 20vw;
    margin: auto;
    opacity: 1;

    perspective: 0px;

    animation: loadCard 1000ms;
}

@keyframes loadCard {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.business-card {
    position: relative;
    
    transform-style: preserve-3d;
    margin: auto;

    .business-card-side {
        position: absolute;
        width: 34vw;
        height: 20vw;
    }

    .business-card-right { 
        width: 10px;
        transform: rotateY( 90deg) translateZ(calc( calc(34vw - 5px)));
        background-color: $blue;
    }

    .business-card-top { 
        height: 10px;
        transform: rotateX( 90deg) translateZ(5px);
        background-color: $blue;
    }

    .business-card-bottom { 
        height: 10px;
        transform: rotateX(-90deg) translateZ(calc( calc(20vw - 5px)));
        background-color: $blue;
    }

    .business-card-left { 
        width: 10px;
        transform: rotateY(-90deg) translateZ(calc( calc(5px)));
        background-color: $blue;
    }
    
    .business-card-front {
        transform: rotateY(  0deg) translateZ(5px);
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 50px 60px;
        margin: auto;
        box-shadow: 0 15px 60px rgba(0,0,0,0.2);
        overflow: hidden;

        background-color: black;

        @media (max-width: 992px) {
            padding: 30px 40px;
        }

        @media (max-width: 767px) {
            padding: 20px 30px;
        }

        .top {
            display: flex;
            justify-content: space-between;

            text-align: right;

            a {
                display: block;
                margin-top: 5px;
                font-size: 20px;
                opacity: .6;

                &:hover {
                    opacity: 1;
                }
                
                @media (max-width: 992px) {
                    font-size: 16px;
                }

                @media (max-width: 992px) {
                    font-size: 14px;
                }
            }

            h2 {
                @media (max-width: 992px) {
                    font-size: 26px;
                }

                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }

        .bottom {
            position: absolute;
            bottom: -6px;
            left: -2px;

            font-size: 6vw;
            line-height: 1;

            @media (max-width: 992px) {
                bottom: -4px;
            }
        }

        * {
            color: white;
        }
    }
}