.card {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    width: 600px;
    height: 360px;
    border-radius: 40px;
    margin: auto;

    perspective: 1000px;
    transform: translateY(-20px);

    animation: loadCard 1.5s;
    // cursor: url('/img/cursor-white.svg'), auto;
    cursor: pointer;

    @media (max-width: $media-sm) {
        width: 260px;
        height: 380px;
    }

    &__inner {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        transition: transform 0.8s;
        transform-style: preserve-3d;
        transform: rotateY(180deg);

        animation: rotateCard 3s;
    }

    img {
        width: 90px;
        height: auto;

        animation: loadCardImage 1.5s;

        @media (max-width: $media-sm) {
            width: 60px;
            animation: loadCardImageMobile 1.5s;
        }
    }

    &__front,
    &__back {
        position: absolute;

        width: 100%;
        height: 100%;

        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    &__front {
        display: flex;
        align-items: center;
        justify-content: center;

        animation: loadCardInner 1.5s;

        border-radius: 40px;
        box-shadow:
            rgba(0, 0, 0, 0.18) 0px 60px 60px 25px;
            
        background-color: $black;
    }

    &__back {
        transform: rotateY(180deg);
        
        box-shadow:
            rgba(0, 0, 0, 0.18) 0px 60px 60px 25px;
        border-radius: 40px;

        animation: loadCardInner 1.5s;

        &:hover {
            a {
                opacity: 1;
            }

            .card__image {
                img {
                    opacity: 0;
                    transform: translateY(-20px);

                    &:nth-of-type(2) {
                        opacity: 1;
                        transform: translateY(-5px);
                    }
                }
            }
        }

        img {
            width: 50px;
        }
    }

    &__back__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 65px 70px;
        height: 100%;
        border-radius: 40px;

        background-image: url("/img/card-background.svg");
        background-size: auto calc(100% + 4px);
        background-position: right -2px top -2px;
        background-repeat: no-repeat;
        background-color: $black;
        transition: $transition;

        @media (max-width: $media-sm) {
            padding: 40px;

            justify-content: flex-end;

            background-image: url("/img/card-background-mobile.svg");
            background-size: calc(100% + 4px) auto;
        }

        &:hover {
            // transform: scale(1.04);
            // animation: cardHover 400ms;
        }
    }

    &__image {
        position: relative;

        @media (max-width: $media-sm) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            margin: auto;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;

            transition: $transition-fast;

            &:nth-of-type(2) {
                opacity: 0;
                transform: translateY(20px);
            }

            @media (max-width: $media-sm) {
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    &__content {
        @media (max-width: $media-sm) {
            text-align: center;
        }
    }

    &__container {
        position: fixed;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
    }
}
