.home-slider {
    position: relative;
    z-index: 10;

    // @media (max-width: 680px) {
    //     margin-top: 120px;
    // }

    .slide {
        visibility: hidden;
        opacity: 0;

        pointer-events: none;
        transition: 450ms ease-in-out;

        &.white-line {
            &::before {
                content: '';

                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: -1;

                height: 100vh;
                width: 200px;
                margin: auto;

                background-color: white;
            }
        }

        .blue-line {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            width: 180px;
            height: 100vh;
            margin: auto;
            padding: 65px 0 60px;

            cursor: pointer;

            text-align: center;

            @media (max-width: 680px) {
                top: 100px;
                padding: 30px 0;
                width: 160px;
                border-radius: 10px 10px 0 0;
            }

            img {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;

                opacity: 0;
                transition: 500ms ease-in-out;

                margin: auto;
                height: 55vh;

                transform: translate(50px);

                -webkit-filter: drop-shadow(15px 15px 20px rgba(0,0,0,0.15));
                filter: drop-shadow(15px 15px 20px rgba(0,0,0,0.15));

                @media (max-width: 680px) {
                    height: 50vh;
                    top: 70px;
                }
            }

            .title,
            .subtitle
            {
                max-width: 100px;
                transition: 500ms ease-in-out;
                opacity: 0;
            }

            .title {
                position: fixed;
                bottom: 60px;

                @media (max-width: 680px) {
                    bottom: 35px;
                    font-size: 16px;
                }
            }

            .play {
                position: fixed;
                bottom: 22.5vh;
                left: 180px;
                right: 0;

                display: none;

                box-shadow: -2px 2px 10px rgba(0,0,0,0.09);
                margin: auto;
                width: 50px;
                height: 50px;
                border-radius: 100%;

                background-color: white;
                background-image: url('/img/play.svg');
                @extend %containBackground;
                background-size: 11px;

                &:hover {
                    box-shadow: 0px 0px 12px rgba(0,0,0,0.08);
                }

                @media (max-width: 680px) {
                    left: 160px;
                    bottom: 20vh;
                    width: 45px;
                    height: 45px;

                    background-size: 9px;
                }
            }
        }

        .business-card {
            transition: 500ms ease-in-out;
            opacity: 0;
        }

        &.active {
            display: flex!important;
            pointer-events: auto;
            visibility: visible;
            opacity: 1;

            .blue-line {
                animation: loadLine 1200ms ease-out;

                img {
                    transform: translate(0px);
                    animation: loadLineImg 1000ms ease-out;
                    opacity: 1;
                }

                .title,
                .subtitle
                {
                    // animation: loadLineTitle 1800ms ease-out;
                    opacity: 1;

                }
            }

            .business-card {
                opacity: 1;
            }
        }
    }

    .blue-line {
        &:nth-of-type(1) {
            z-index: -1;
            background-color: $blue;
            transition: 250ms ease-in-out;

            &:hover {
                background-color: darken($blue, 6);
            }
        }
    }

    .slide:not(.business-card-container) {
        & + .slide.active {
            .blue-line {
                animation: none;
                // background-color: transparent;

                img {
                    transform: translate(0px);
                    animation: loadLineImg 1000ms ease-out;
                    opacity: 1;
                }

                .title,
                .subtitle
                {
                    // animation: loadLineTitle 1800ms ease-out;
                    opacity: 1;

                }
            }
        }

        &.active {
            .play {
                display: block;
            }
        }
    }
}