.mobile-menu {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 99;

  width: 100vw;
  height: 100vh;

  transition: $transition;

  background-color: $black;

  .container {
    @include container;

    display: flex;
    align-items: center;

    height: 100%;

    nav {
      display: flex;
      flex-direction: column;
      
      width: 100%;

      a {
        opacity: .6;

        color: white;
        font-size: 32px;
        font-weight: 600;
        text-align: center;

        &:hover,
        &.active
        {
          opacity: 1;
        }

        @media (max-width: 992px) {
          font-size: 24px;
        }

        & + a {
          margin-top: 12px;
        }
      }
    }
  }

  &.active {
    top: 0;
  }
}