@font-face {
  font-family: "Oregon LDO Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Oregon LDO Regular"), url("/fonts/Oregon_LDO.woff") format("woff");
}

h1 {
  font-family: serif;
  line-height: 1.2;
  font-size: 4.5vw;
  font-weight: 400;
  color: white;
}

h1 span {
  font: inherit;
  font-family: "Josefin Sans", sans-serif;
  line-height: inherit;
  font-weight: 600 !important;
}

@media (max-width: 700px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  line-height: 1;
  font-size: 2.8vw;
  font-weight: 600;
}

h3 {
  line-height: 1;
  font-size: 32px;
  font-weight: 600;
}

h4 {
  line-height: 1;
  font-size: 24px;
  font-weight: 600;
}

h5 {
  line-height: 1;
  font-size: 22px;
  font-weight: 600;
}

h6 {
  line-height: 1.3;
  font-size: 18px;
  font-weight: 700;
}

p,
* {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  font-size: min(max(1.1vw, 14px), 20px);
  font-weight: 400;
  color: white;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::-moz-selection {
  color: white;
  background-color: #18E6F3;
}

::selection {
  color: white;
  background-color: #18E6F3;
}

h4 + p {
  margin-top: 40px !important;
}

p + h4 {
  margin-top: 5px;
}

p + h2 {
  margin-top: 10px;
}

p.-uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  transition: opacity 0.3s cubic-bezier(0.7, 0, 0.1, 1);
}

ul {
  padding-left: 15px;
}

ul li {
  position: relative;
  list-style: none;
}

ul li::before {
  content: "-";
  position: absolute;
  left: -15px;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 20px;
}

h1 a,
h1 span,
h1 ul,
h1 li,
h2 a,
h2 span,
h2 ul,
h2 li,
h3 a,
h3 span,
h3 ul,
h3 li,
h4 a,
h4 span,
h4 ul,
h4 li,
h5 a,
h5 span,
h5 ul,
h5 li,
h6 a,
h6 span,
h6 ul,
h6 li,
p a,
p span,
p ul,
p li,
li a,
li span,
li ul,
li li {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

b {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@-webkit-keyframes loadCard {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  10% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes loadCard {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  10% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes loadCardInner {
  60% {
    box-shadow: none;
  }
}

@keyframes loadCardInner {
  60% {
    box-shadow: none;
  }
}

@-webkit-keyframes loadCardImage {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}

@keyframes loadCardImage {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}

@-webkit-keyframes rotateCard {
  0% {
    transform: rotateY(0);
  }

  55% {
    transform: rotateY(0);
  }

  80% {
    transform: rotateY(180deg);
  }
}

@keyframes rotateCard {
  0% {
    transform: rotateY(0);
  }

  55% {
    transform: rotateY(0);
  }

  80% {
    transform: rotateY(180deg);
  }
}

@-webkit-keyframes cardHover {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.06);
  }

  100% {
    transform: scale(1.04);
  }
}

@keyframes cardHover {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.06);
  }

  100% {
    transform: scale(1.04);
  }
}

@-webkit-keyframes loadLink {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  85% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes loadLink {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  85% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes sliderItemAfter {
  0% {
    width: 0;
  }

  44.9% {
    left: unset;
    right: 0;
  }

  45%, 55% {
    left: 0;
    right: unset;
    width: 100%;
  }

  45.1% {
    right: unset;
    left: 0;
  }

  100% {
    width: 0;
    right: unset;
    left: 0;
  }
}

@keyframes sliderItemAfter {
  0% {
    width: 0;
  }

  44.9% {
    left: unset;
    right: 0;
  }

  45%, 55% {
    left: 0;
    right: unset;
    width: 100%;
  }

  45.1% {
    right: unset;
    left: 0;
  }

  100% {
    width: 0;
    right: unset;
    left: 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: black;
}

body main .section:last-of-type {
  padding-bottom: 30vh;
}

body main .section.\--intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 200px;
  padding-bottom: 200px;
}

body main .section.\--intro h1 {
  margin-left: calc(1.8vw + 30px);
  width: 80%;
}

body main .section.\--projects {
  margin-top: -40px;
}

body main .section.\--projects .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body main .section.\--contact {
  padding-top: 30vh;
  min-height: 100vh;
}

body .container {
  padding-right: 7.5vw;
  padding-left: 7.5vw;
}

* {
  cursor: none;
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 90px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header * {
  font-weight: 700;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  display: block;
  margin-right: 30px;
  width: 1.8vw;
  height: auto;
}

.header__logo p {
  transition: opacity 0.45s cubic-bezier(0.7, 0, 0.1, 1), transform 0.45s cubic-bezier(0.7, 0, 0.1, 1);
  margin-top: 3px;
}

.header__logo p span {
  opacity: 0.6;
}

.header nav {
  display: flex;
  transition: opacity 0.45s cubic-bezier(0.7, 0, 0.1, 1), transform 0.45s cubic-bezier(0.7, 0, 0.1, 1);
}

.header nav a {
  position: relative;
  cursor: none;
  text-transform: uppercase;
}

.header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: width 0.45s cubic-bezier(0.7, 0, 0.1, 1);
  width: 0;
  height: 2px;
  margin: auto;
  background-color: white;
}

.header nav a:hover::after {
  width: 100%;
}

.header nav a + a {
  margin-left: 50px;
}

.header.-scrolled .header__logo p {
  opacity: 0;
  transform: translateY(-20px);
}

.header.-scrolled nav {
  opacity: 0;
  transform: translateY(-20px);
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

footer * {
  text-transform: uppercase;
  font-weight: 700;
}

.card {
  position: relative;
  width: 38vw;
  min-height: 22vw;
  border-radius: 40px;
  margin: auto;
  perspective: 1000px;
  -webkit-animation: loadCard 1.5s;
          animation: loadCard 1.5s;
  cursor: pointer;
}

@media (max-width: 700px) {
  .card {
    width: 260px;
    height: 380px;
  }
}

.card__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  -webkit-animation: rotateCard 3s;
          animation: rotateCard 3s;
}

.card img {
  width: 90px;
  height: auto;
  -webkit-animation: loadCardImage 1.5s;
          animation: loadCardImage 1.5s;
}

@media (max-width: 700px) {
  .card img {
    width: 60px;
    -webkit-animation: loadCardImageMobile 1.5s;
            animation: loadCardImageMobile 1.5s;
  }
}

.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.card__front {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: loadCardInner 1.5s;
          animation: loadCardInner 1.5s;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 60px 60px 25px;
  background-color: #070707;
}

.card__back {
  transform: rotateY(180deg);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 60px 60px 25px;
  border-radius: 40px;
  -webkit-animation: loadCardInner 1.5s;
          animation: loadCardInner 1.5s;
}

.card__back:hover a {
  opacity: 1;
}

.card__back:hover .card__image img {
  opacity: 0;
  transform: translateY(-20px);
}

.card__back:hover .card__image img:nth-of-type(2) {
  opacity: 1;
  transform: translateY(-5px);
}

.card__back img {
  width: 50px;
}

.card__back__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 65px 70px;
  height: 100%;
  border-radius: 40px;
  transition: 0.45s cubic-bezier(0.7, 0, 0.1, 1);
}

@media (max-width: 700px) {
  .card__back__inner {
    padding: 40px;
    justify-content: flex-end;
    background-image: url("/img/card-background-mobile.svg");
    background-size: calc(100% + 4px) auto;
  }
}

.card__image {
  position: relative;
}

@media (max-width: 700px) {
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s cubic-bezier(0.7, 0, 0.1, 1);
}

.card__image img:nth-of-type(2) {
  opacity: 0;
  transform: translateY(20px);
}

@media (max-width: 700px) {
  .card__image img {
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .card__content {
    text-align: center;
  }
}

.card__container {
  width: 100%;
  height: 100%;
}

.link {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40px;
  display: flex;
  align-items: center;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1;
  -webkit-animation: loadLink 3.5s;
          animation: loadLink 3.5s;
}

@media (max-width: 700px) {
  .link {
    bottom: 30px;
  }
}

@media (max-width: 700px) {
  .link {
    bottom: 20px;
  }
}

.link:hover .link__inner {
  width: 212px;
}

@media (max-width: 700px) {
  .link:hover .link__inner {
    min-width: 190px;
  }
}

.link__item {
  display: flex;
  align-items: center;
  opacity: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 212px;
  color: #FF1542;
  font-size: 17px;
  font-weight: 500;
}

@media (max-width: 700px) {
  .link__item {
    min-width: 190px;
    font-size: 15px;
  }
}

.link__item::before {
  content: "";
  width: 45px;
  height: 45px;
  margin-right: 15px;
  border: 2px solid #FF1542;
  border-radius: 100%;
  background-image: url("/img/arrow-right.svg");
  background-size: 34%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  .link__item::before {
    width: 40px;
    height: 40px;
  }
}

.link__inner {
  position: absolute;
  overflow: hidden;
  transition: 0.45s cubic-bezier(0.7, 0, 0.1, 1);
  width: 0;
}

.link__inner .link__item {
  color: #070707;
}

.link__inner .link__item::before {
  border-color: #070707;
  background-image: url("/img/arrow-right-black.svg");
}

.notification {
  position: fixed;
  bottom: -2px;
  right: -2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  transition: width 250ms ease-out, height 250ms ease-out;
  transform-origin: bottom right;
  height: 230px;
  width: 310px;
  background-image: url("/img/notification.svg");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: loadNotifcation 5.5s;
          animation: loadNotifcation 5.5s;
}

@media (max-width: 940px) {
  .notification {
    display: none;
  }
}

@media (max-height: 680px) {
  .notification {
    display: none;
  }
}

.notification:hover {
  height: 250px;
  width: 330px;
}

.notification__inner {
  padding: 40px;
  text-align: center;
  -webkit-animation: loadNotifcationInner 5.5s;
          animation: loadNotifcationInner 5.5s;
}

.notification__title {
  margin-top: 10px;
  font-size: 18px;
  color: #FF1542;
}

.notification__text {
  margin-top: 5px;
  font-size: 16px;
  color: #FF1542;
}

@-webkit-keyframes loadNotifcation {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(0);
  }

  85% {
    transform: scale(1.05);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loadNotifcation {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(0);
  }

  85% {
    transform: scale(1.05);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes loadNotifcationInner {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  90% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes loadNotifcationInner {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  90% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #070707;
  cursor: url("/img/cursor-white.svg"), auto;
  transform: translateY(100%);
  transition: transform 450ms ease-out;
}

.modal * {
  cursor: url("/img/cursor-white.svg"), auto;
}

.modal.-active {
  transform: translateY(0);
}

.modal__inner {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 100px;
}

.modal__cross {
  position: absolute;
  right: 100px;
  top: 100px;
  width: 25px;
  height: 25px;
}

.modal__cross div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  transition: height 0.45s cubic-bezier(0.7, 0, 0.1, 1), width 0.45s cubic-bezier(0.7, 0, 0.1, 1), position 0.45s cubic-bezier(0.7, 0, 0.1, 1);
  background-color: white;
}

.modal__cross div:nth-child(1) {
  width: 25px;
  height: 3px;
  transform: rotate(45deg);
}

.modal__cross div:nth-child(2) {
  width: 25px;
  height: 3px;
  transform: rotate(-45deg);
}

.modal__cross div:nth-child(3) {
  height: 0;
  width: 3px;
}

.modal__cross:hover div:nth-child(1) {
  width: 20px;
  transform: rotate(45deg) translateX(50%);
}

.modal__cross:hover div:nth-child(2) {
  width: 20px;
  transform: rotate(-45deg) translateX(-50%);
}

.modal__cross:hover div:nth-child(3) {
  height: 25px;
}

.slider {
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.slider__inner {
  width: 100%;
  padding-top: 63%;
}

.slider__controls {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 24px;
}

.slider__control {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.slider__control span {
  display: block;
  transition: 0.45s cubic-bezier(0.7, 0, 0.1, 1);
  border-radius: 5px;
  width: 2px;
  background-color: white;
}

.slider__control span:first-child {
  height: 60px;
}

.slider__control span:nth-child(2),
.slider__control span:nth-child(3) {
  position: absolute;
  top: -3px;
  height: 15px;
}

.slider__control span:nth-child(2) {
  left: -40%;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
}

.slider__control span:nth-child(3) {
  left: 0;
  right: -40%;
  margin: auto;
  transform: rotate(-45deg);
}

.slider__control:first-child:hover span:first-child {
  height: 90px;
  margin-top: -30px;
}

.slider__control:first-child:hover span:nth-child(2),
.slider__control:first-child:hover span:nth-child(3) {
  top: -33px;
}

.slider__control + .slider__control {
  margin-top: 40px;
}

.slider__control + .slider__control span:nth-child(2),
.slider__control + .slider__control span:nth-child(3) {
  top: unset;
  bottom: -3px;
}

.slider__control + .slider__control span:nth-child(2) {
  transform: rotate(-45deg);
}

.slider__control + .slider__control span:nth-child(3) {
  transform: rotate(45deg);
}

.slider__control + .slider__control:hover span:first-child {
  height: 90px;
  margin-bottom: -30px;
}

.slider__control + .slider__control:hover span:nth-child(2),
.slider__control + .slider__control:hover span:nth-child(3) {
  bottom: -33px;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  padding: 3vw;
  background-color: white;
  background-size: cover;
}

.slider__item * {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 450ms 750ms;
  color: black;
}

.slider__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: unset;
  right: 0;
  width: 0;
}

.slider__item.-active {
  opacity: 1;
}

.slider__item.-active * {
  opacity: 1;
}

.slider__item.-active::after {
  -webkit-animation: sliderItemAfter 1200ms;
          animation: sliderItemAfter 1200ms;
}

.slider__item.-coquelicots::after {
  background-color: #3528DE;
}

.slider__item.-huis-van-mijn::after {
  background-color: #EDDAC9;
}

.slider__action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__action * {
  text-align: center;
  font-weight: 700;
}

.slider__action .line {
  position: relative;
  height: 230px;
  width: 2px;
  margin: 20px 0;
  border-radius: 6px;
  background-color: white;
}

.slider__action .control {
  position: absolute;
  top: 18%;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 2px;
  height: calc(100% / 7);
  background-color: #3528DE;
}

.slider__action .control::before,
.slider__action .control::after {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 2px;
  background-color: black;
}

.slider__action .control::before {
  top: -10px;
}

.slider__action .control::after {
  bottom: -10px;
}

