@mixin container {
  @include grid;

  width: 100%;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $side-space;
  padding-left: $side-space;

  @media (max-width: 992px) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 767px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: 580px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

%standard-top-space {
  padding-top: $standard-space;

  @media (max-width: $media-lg) {
    padding-top: $standard-space-lg;
  }

  @media (max-width: $media-md) {
    padding-top: $standard-space-md;
  }

  @media (max-width: $media-sm) {
    padding-top: $standard-space-sm;
  }

  @media (max-width: $media-xs) {
    padding-top: $standard-space-xs;
  }
}