.button {
  display: inline-flex;
  align-items: center;

  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;

  // @include h2;
  border-radius: 100px;
  padding: 12px 28px;

  color: var(--color-1);

  // text-transform: uppercase;
  text-decoration: none;

  background-color: white;
  color: $color-black;

  &__icon {
    display: block;

    margin-left: 10px;
    height: 100%;
    width: auto;

    &.-left {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}