.case {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-top: 1.6vw;
    padding-bottom: 1.6vw;
    width: 100%;

    @include media-s {
        padding-bottom: 6vw;
    }

    &__title {
        transition: opacity $transition;
        font-size: 3.6vw;

        @include media-s {
            font-size: 6.2vw;
        }
    }

    &__type {
        transition: opacity $transition;

        margin-left: 1vw;
        margin-right: 1vw;
        margin-bottom: .9vw;

        text-transform: uppercase;
        font-weight: 500;

        @include media-s {
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 1.4vw;
        }
    }

    &__image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;

        transition: $transition;
        transform: scale(.8);
        opacity: 0;

        pointer-events: none;

        margin: auto;
        width: 14vw;
        height: 8vw;
        object-fit: cover;
    }

    &:hover {
        .case__title {
            opacity: 0.2;
            -webkit-text-stroke: .01em white;
            color: transparent;
        }

        .case__type {
            opacity: 0.1;
        }

        .case__image {
            opacity: 1;
            transform: scale(1);
        }
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    &:nth-child(1) {
        transform: translateX(-8vw);
    }
    &:nth-child(2) {
        transform: translateX(-4vw);

        @include media-s {
            transform: translateX(1vw);
        }
    }
    &:nth-child(3) {
        transform: translateX(-12vw);
        
        @include media-s {
            transform: translateX(-4vw);
        }
    }
    &:nth-child(4) {
        transform: translateX(4vw);
    }
    &:nth-child(5) {
        transform: translateX(-10vw);
        
        @include media-s {
            transform: translateX(-5vw);
        }

    }
    &:nth-child(6) {
        transform: translateX(4vw);
    }
}