.gradient {
    position: fixed;
    left: 0;
    top: 0;

    display: none;

    width: 40vw;
    height: 40vw;
    margin-top: 0vh;
    margin-left: -25vw;

    opacity: .3;
    filter: blur(14px);

    background: radial-gradient(circle at center, $color-1 0, transparentize($color-1, 1) 50%);
}