.gradient {
    position: fixed;
    left: 10vw;
    right: 0;
    top: 10vh;
    bottom: 0;

    display: block;

    width: 80vw;
    height: 80vw;
    // margin-top: -20vh;
    // margin-left: auto;
    // margin-right: auto;
    margin: auto;


    opacity: .3;
    filter: blur(14px);

    // background: radial-gradient(circle at center, $color-1 0, transparentize($color-1, 1) 50%);
    background-image: url("~/assets/img/gradient-round.svg");
}