.link {
    display: flex;
    align-items: center;

    

    img, svg {
        width: .6vw;
        margin-bottom: -.1vw;
        margin-right: 1vw;
        height: auto;

        path {
            transition: fill .3s, stroke .3s;
        }

    }

    &:hover {
        svg, img {
            animation: linkhover 1s;

            path {
                stroke: $color-1-active;
            }
        }
    }

    &.-right-icon {
        font-weight: 500;

        img, svg {
            margin-left: 1vw;
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}