.scroll {
    position: fixed;
    bottom: 10vw;
    left: 0;
    right: 0;

    display: none;
    align-items: center;
    justify-content: center;
    
    opacity: .6;
    transition: opacity $transition;

    margin: auto;
    border-radius: 100%;

    @include media-s {
        display: flex;
    }

    &__text {
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;

        padding-top: 5px;
        padding-bottom: 5px;
        
        margin-top: -.1vw;

        font-size: 3vw;
        color: white;
        white-space: nowrap;

        background-color: $color-2;
    }

    &::before {
        content: '';

        position: absolute;
        left: 0;
        right: 0;
        top: 80%;

        display: block;
        
        margin: auto;
        width: 5vw;
        height: 15vw;

        background-color: $color-2;
    }
    
    &::after {
        content: '';

        position: absolute;
        left: 0;
        right: 0;
        bottom: -4vw;

        display: block;
        
        margin: auto;
        width: 1px;
        height: 15vw;

        background-color: white;
    }

    &.-scrolled {
        opacity: 0;
        pointer-events: none;
    }
}
