* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  display: flex;
  flex-direction: column;

  @include text;

  background-color: $color-2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // cursor: none !important;

  * {
    // cursor: none !important;

    color: white;
  }

  main {
    flex: 1 0 auto;
  }

  img {
      width: 100%;
      max-width: 100%;
      height: auto;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparentize(white, .6);
  // border-radius: 10px;
  border-right: 6px solid $color-black;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}