footer {
  position: relative;

  display: flex;
  justify-content: center;
  flex-shrink: 0;

  padding-top: 10vw;
  padding-bottom: 40px;

  // &::before {
  //   content: '';

  //   @include absolute-cover;

  //   left: 5vw;
  //   right: 5vw;
  //   top: calc(140px + 1.3vw);
  //   z-index: -1;

  //   display: block;

  //   opacity: .4;
  //   height: 1px;
  //   width: 90vw;

  //   background-color: white;
  // }
  

  @include media-s {
    padding-top: 80px;
    // padding-bottom: 40px;
  }

  .container {
    display: flex;
  }

  p {
    position: relative;
    z-index: 1;

    display: flex;

    padding: 0 2vw;

    // -webkit-text-stroke: .01em white;
    // color: transparent;
    
    font-size: 1.5vw;
    font-family: $font-heading; 

    background-color: $color-2;

    @include media-s {
      font-size: 4vw;
    }

    * {
      opacity: .5;
    }

    a {
      &:hover {
        opacity: 1;
      }
    }
  }

  .divider {
    display: block;
    margin: 0 20px;

    @include media-s {
      margin: 0 15px;
    }
  }

  .container {
    @include container;
  }
}